.foot {
    background-color: #999797;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.site-LolaMoto) & {
        background-color: #244169;
        color: white;
    }
    :global(.site-Intermoto) & {
        background-color: #d1d1d1;
    }
}
