//ObjetosCatalogo
.catalogo{
    .item {
        justify-items: center;
        min-height: 150px;
        min-width: 500px;
        padding: 50px;
        background-color:#385781;
        color: #ededed;
    }
    .nombre{
        text-align: center;
    }
    .imagen{
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
    .precio{
        color: greenyellow;
        text-align: center;
        font-weight: bold;
    }
    .item:hover{
        background-color:#3f659b;
    }
    .maps{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto; 
        gap: 10px; 
    }
    .lista{
        list-style: none;
    }
}
//NavBar
.navbar{
    .cont{
        background-color: #244169;
        min-height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        gap: 50px;
    }
    .imagen{
        margin-left: 25px;
    }
    .text{
        color: black;
        font-weight: bold;
        font-size: large;
    }
    .link{
        color: black;
        font-weight: bold;
        font-size: large;
    }
}
//Footer
.foot {
    background-color: #244169;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
