//DetallesProductos
.detalles{
    .nombre{
        margin-top: 50;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }
    .marca{
        margin-top: 25;
        text-align: center;
        font-weight: bold;
        font-size: 13px;
    }
    .imagenes{
        cursor: pointer;
        margin-top: 5%;
        display: flex;
        flex-direction: row;
        max-height: 400;
    }
    .precio{
        color: rgb(150, 201, 74);
        text-align: center;
        font-weight: bold;
        margin-top: 15;
    }
    .maps{
        display: flex;
        flex-direction: column; 
        justify-self: center;
        min-width:550;
    }
    @media (min-width: 768px) {
        .imagenes{
            position: absolute;
            margin-top: 90;
            display: flex;
            flex-direction: column;
            justify-content: left ;
            max-width: 250;
            margin-left: -160;
        }
        .precio{
        color: rgb(150, 201, 74);
        text-align: center;
        font-weight: bold;
        margin-top: 15;
        }
        .maps{
            display: flex;
            flex-direction: column; 
            justify-self: center;
            min-width:550;
        }
        .nombre{
            margin-top: 50;
            text-align: center;
            font-weight: bold;
            font-size: 30px;
        }
        .marca{
            margin-top: 25;
            text-align: center;
            font-weight: bold;
            font-size: 25px;
        }
}
    .lightbox {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.8);
        display: flex;
        justify-content: center;
        align-items: center;
        .arrow,
            .cerrar {
                position: absolute;
                background: none;
                border: none;
                color: white;
                font-size: 40px;
                cursor: pointer;
            }
            .izquierda 
            { 
                left: 20px; 
                margin: 5;
            }
            .derecha { 
                right: 20px; 
                margin: 5;
            }
            .cerrar { 
                top: 20px; 
                right: 20px; 
            }
    }
}
//ObjetosCatalogo
.catalogo{
    .item {
        justify-items: center;
        min-height: 150px;
        min-width: 500px;
        padding: 50px;
        background-color: #8f8a8ac7;
        color: #ededed;
    }
    .nombre{
        text-align: center;
    }
    .imagen{
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
    .precio{
        color: greenyellow;
        text-align: center;
        font-weight: bold;
    }
    .item:hover{
        background-color: #8f8a8a;
    }
    .maps{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto; 
        gap: 10px; 
    }
    .lista{
        list-style: none;
    }
}
//NavBar
.Navbar{
    .cont{
        background-color: #999797;
        min-height: 100px;
        display: flex;
        text-align: center;
        align-items: center;
        gap: 50px;
    }
    .imagen{
        margin-left: 25px;
    }
    .text{
        color: black;
        font-weight: bold;
        font-size: large;
    }
    .link{
        color: black;
        font-weight: bold;
        font-size: large;
    }
}
//Footer
.foot {
    background-color: #999797;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
