
.cont{
    background-color: #999797;
    min-height: 100;
    display: flex;
    text-align: center;
    align-items: center;
    gap: 50;
}
.imagen{
    margin-left: 25;

}
.text{
    color: black;
    font-weight: bold;
    font-size: large;
}
.link{
    color: black;
    font-weight: bold;
    font-size: large;
}