.item {
    justify-items: center;
    min-height: 150px;
    min-width: 500px;
    padding: 50px;
    background-color: #8f8a8ac7;
    color: #ededed;
    :global(.site-LolaMoto) & {
        background-color:#385781;
    }
    :global(.site-Intermoto) & {
        background-color: #534f4f;
    }
}
.nombre{
    text-align: center;
}
.imagen{
    text-align: center;
    justify-items: center;
    justify-content: center;
}
.precio{
    color: greenyellow;
    text-align: center;
    font-weight: bold;
}
.item:hover{
    background-color: #8f8a8a;
    :global(.site-LolaMoto) & {
        background-color:#3f659b;
    }
    :global(.site-Intermoto) & {
        background-color: #969191;
    }
}
.maps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 10px; 
}
.lista{
list-style: none;
}
