.item{
justify-items: center;
min-height: 150px;
min-width: 500;
padding: 50;
background-color:#8f8a8ac7;
color: #ededed;

}
.nombre{
    text-align: center;

}
.imagen{
    text-align: center;
    justify-items: center;
    justify-content: center;
}
.precio{
    color: greenyellow;
    text-align: center;
    font-weight: bold;
}
.item:hover{
    background-color: #8f8a8a;
}
.maps{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto; 
    gap: 10px; 

}
.lista{
list-style: none;

}
